@{
    SteamPlayer steamPlayer = SteamApiInterface.GetSteamPlayers(new SteamId { steam_id = "76561197994895226" })[0];
}
<ul class="nav navbar-nav navbar-right">
    <li><a href="https://csgsistattrakr.jasonfigueroa.io">Exit Demo</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>
        <img id="nav-avatar" src="@steamPlayer.avatar" />
    </li>
    <li>
        <a asp-area="" asp-controller="Profile" asp-action="Index" title="Profile">@steamPlayer.personaname</a>
    </li>
</ul>
