@{
    ViewBag.Title = "Getting Started";
}

<h1>Getting Started</h1>
<ol>
    <li>Register on this site, you will need your steam id.</li>
    <li>Download and install the console application.</li>
    <li>Run the application along side the game to start collecting data.</li>
    <li>Login to this site to view your game stats.</li>
</ol>