@model UserLogin

@{
    ViewBag.Title = "Login";
    var returnUrl = @Context.Request.Query["returnurl"];
}

<h1>Login</h1>

<form onsubmit="return onSubmitClick(this)" asp-action="Index" method="post" class="form-horizontal" role="form" asp-route-returnurl="@returnUrl">
    <div class="form-group">
        <label asp-for="username" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="username" class="form-control" id="input-username" />
            <span asp-validation-for="username" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="password" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="password" class="form-control" id="input-password" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
      <label asp-for="stayLoggedIn" class="col-md-2 control-label">Stay Logged In</label>
        <div class="col-md-5"><input asp-for="stayLoggedIn" id="stay-logged-in" type="checkbox" ></div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>

</form>

@section Scripts {
    <script type="text/javascript" src="~/js/views/login.js"></script>
}