@{
    ViewBag.Title = "About";
}

<h1>About</h1>
<p>CSGSI Stat Trakr is a tool designed to help Counter-Strike: Global Offensive players look back and analyze statistical data from their past game matches. Players can quickly look back at their Kill Death Ratio for a match, how many kills they got, how many MVPs they received, etc. This can help a player determine which maps and teams they generally play better on. That way they can see where they need to spend more time practicing improving their overall effectiveness.</p>
<p>Players can also see their best/worst match ever based on their kill death ratio as well as their best/worst match ever based on their score.</p>
<p>Currently the application does not distinguish between game modes such as Casual, Competitive, Wingman, etc. This is a feature I would like to add later down the road.</p>
<p>Another feature I would like to add to the project is daily game time logging so a user can quickly see how many hours they’ve dedicated to improving their game.</p>
<p>This project is a working progress and will continually be enhanced throughout its lifetime.</p>