body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#profile-div img {
    width: 70%;
    height: auto;
}

#profile-summary-div {
    margin-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.clickable {
    cursor: pointer;
}

.center-text {
    text-align: center;
}

#nav-avatar {
    padding-top: 9px;
}

#profile-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

#stay-logged-in {
    margin: 0;
    height: 34px;
    width: 5%;
}

/*#my-chart {
    width: 400px;
    height: 400px;
}*/

@media (max-width: 767px) {
    #nav-avatar {
        display: none;
    }
}
